[submodule "shell"]
	path = shell
	url = git@git.syui.ai:ai/shell
[submodule "card"]
	path = card
	url = git@git.syui.ai:ai/card
	branch = claude
[submodule "log"]
	path = log
	url = git@git.syui.ai:ai/log
